.form-pass-container {
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-gap: 0.5rem;
}

.show-password-btn {
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: var(--org-color-primary);
    transition: background-color 0.3s;
    height: 75%;
}

.show-password-btn:hover {
    background-color: var(--org-color-primary);
    opacity: 0.7;
}