.best-project-medal span {
    font-size: 4vh;
    font-weight: bold;
    margin-top: -0.5vh;
}

.best-project-item-title {
    grid-area: projectTitle;
    font-size: 3vh;
    word-break: normal;
    text-wrap: normal;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.best-project-item-owner {
    grid-area: projectOwner;
    font-size: 2vh;
}

.gold,
.silver,
.bronze {
    border-radius: 10em;
    color: white;
}

/*.gold {*/
/*    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),*/
/*    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;*/
/*}*/

/*.silver {*/
/*    background-image: radial-gradient(ellipse farthest-corner at right bottom, #C0C0C0 0%, #B0B0B0 8%, #A0A0A0 30%, #8A8A8A 40%, transparent 80%),*/
/*    !*  Othen Silver  *!*/
/*    radial-gradient(ellipse farthest-corner at left top, #C0C0C0 0%, #B0B0B0 8%, #A0A0A0 25%, #8A8A8A 62.5%, #8A8A8A 100%);*/
/*}*/

/*.bronze {*/
/*    background-image: radial-gradient(ellipse farthest-corner at right bottom, #CD7F32 0%, #B87333 8%, #A56634 30%, #8A5A35 40%, transparent 80%),*/
/*    radial-gradient(ellipse farthest-corner at left top, #CD7F32 0%, #B87333 8%, #A56634 25%, #8A5A35 62.5%, #8A5A35 100%)*/
/*}*/

.best-project-component.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em 0;
}