.dashboard-slide#slide3 {
    width: 100%;
    grid-template-areas:
        "bestProjects wordcloud wordcloud wordcloud topCommiters"
        "bestProjects wordcloud wordcloud wordcloud topCommiters"
        "bestProjects wordcloud wordcloud wordcloud topCommiters"
        "bestProjects submittedProjects submittedProjects submittedProjects topCommiters"
        "footerCard footerCard footerCard footerCard footerCard";
}

@media (max-width: 768px) {
    .dashboard-slide#slide3 {
        grid-template-rows: auto;
        grid-template-areas:
            "bestProjects"
            "wordcloud"
            "submittedProjects"
            "topCommiters"
            "footerCard";
    }
}