.word-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.word {
    margin: 5px;
}

#loading {
    animation: pulse 1.5s ease-in-out infinite;
    width: 50vw;
    height: 50vh;
}
