.dashboard-slide#slide2 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "codeSmellDistribution codeSmellDistribution techDebtStats techDebtStats techDebtStats"
        "codeSmellDistribution codeSmellDistribution techDebtStats techDebtStats techDebtStats"
        "codeSmellDistribution codeSmellDistribution bestPractices bestPractices bestPractices"
        "techDebt techDebt bestPractices bestPractices bestPractices"
        "footerCard footerCard footerCard footerCard footerCard";
}