.dashboard-slide#slide1 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "languageRank languageRank space space totalProjects"
        "languageRank languageRank space space totalLanguages"
        "languageRank languageRank space space totalDevelopers"
        "languageRank languageRank totalContributions totalLinesOfCode totalFiles"
        "footerCard footerCard footerCard footerCard footerCard"
}