.dashboard-card#techDebtStats {
    grid-area: techDebtStats;

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    align-items: center;
    justify-content: start;
}

.dashboard-card#techDebtStats h3 {
    font-size: 1.5em;
    justify-self: start;
}

.td-stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.8em;
    gap: 1em;
}