.dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--org-color-primary);
    height: 96vh;

    /* Media query for screens smaller than 768px (typical mobile devices) */
    @media (max-width: 768px) {
        height: auto; /* Adjust height dynamically for mobile devices */
        width: 100vw;
    }
}

.dashboard-carousel {
    width: 100%;
    height: 100%;
}
