.dashboard-card#totalTD {
    grid-area: techDebt;
}

.dashboard-card#totalTD {
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

.total-td-card-header {
    font-size: 2.5vh;
    color: var(--text-primary);
}

.td-value {
    font-size: 9vh;
    font-weight: bold;
}

.td-value i {
    font-size: 0.5em;
    font-weight: normal;
}

.dashboard-card.loading#totalTD {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-td-skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.total-td-skeleton .skeleton-box {
    height: 3vh;
    width: 20vw;
    animation: pulse 1.5s ease-in-out infinite;
    border-radius: 1em;
}

.total-td-skeleton .skeleton-box:nth-child(2) {
    width: 20vw;
    height: 5vw;
}

