.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    color: white;
    text-align: center;
}

.home-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.orgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.org-card {
    padding: 0 !important;
}

.org-card .card-body {
    padding: 1rem;
}

.homepage-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.homepage-images .img {
    min-height: 25vh;
}

.home-page-img-link {
    will-change: filter;
    transition: all 300ms;
}

.home-page-img-link:hover {
    filter: drop-shadow(0 0 2em rgba(255, 255, 255, 0.16));
    scale: 1.05;
}

.home-page-img-link:nth-child(2):hover {
    scale: 1.03;
}

#uom {
    background: var(--light-gray);
}

.homepage-action-buttons {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .homepage-images {
        flex-direction: column;
    }

    .homepage-images .img {
        min-height: 15vh;
    }

    .homepage-action-buttons {
        grid-template-columns: 1fr;
    }

    .home-page p {
        font-size: 1.2rem;
    }
}