.navbar-close-button {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    height: 1.8em;
    background-color: var(--org-color-primary-dark-version)
}

.navbar-close-button button  {
    min-height: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

.navbar-close-button button:hover {
    outline: none;
    background: none;
}

.navbar-close-button button:hover i {
    opacity: 0.9;
}

.navbar-close-button button:focus,
.navbar-close-button button:active
{
    outline: none !important;
    background: none !important;
}

.navbar-close-button button i {
    height: 0.5em;
    font-size: 2em;
    color: white;
}

