.project-details-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.project-details-icon img {
    width: 13vh;
    margin-right: 1vh;
}

.project-details-icon-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-details-icon-details h4 {
    font-size: 8vh;
    font-weight: bold;
    text-align: center;
}

.project-details-icon-details p {
    font-size: 3.5vh;
    text-align: center;
}

.project-details-icon-details h4, .project-details-icon-details p {
    margin: 0;
    text-align: center;
}