.login-page {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.auth-page-aside {
    /*background-image: url("../../../assets/img/screen-mockup.png");*/
    background-image: url("https://cdn.pixabay.com/photo/2020/09/27/13/15/data-5606639_1280.jpg");
    background-size: cover;
    filter: brightness(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-page-logo {
    width: 50vh;
    height: 50vh;
    margin-bottom: 20px;
}

.auth-page-logo img {
    width: 100%;
    height: 100%;
    filter: brightness(1);
}

.auth-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}