.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--light-gray);
    gap: 3vh;
}

.not-found-page i {
    font-size: 15vh;
    height: 14vh;
}

.not-found-page h2 {
    font-size: 15vh;
}