@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#root {
  min-height: 100vh;

  /* Custom Colors */
  --org-color-primary: #015092;
  --org-color-primary-dark-version: #003562;
  --org-color-secondary: #ffe248;
  --org-color-secondary-dark-version: #cba400;
  --dark-gray: #333;
  --light-gray: #f5f5f5;
  --light-gray-darker: #e0e0e0;
  --danger-red: #ff4d4d;
  --dashboard-bg: #e1e1e1;
  --text-secondary: #666;
  --text-primary: #404852;

  /* Languages Ranking */
  --gold: #dcb706;
  --silver: #a4a3a3;
  --bronze: #cd7f32;

  --rank-gold: #FFBB33, #FFEDA6, #FFDF80, #F2BA49;
  --rank-silver: #B6B6BF, #EDF4FA, #DADCE6, #B6B6BF;
  --rank-bronze: #B37E59, #FFD2B3, #F2C7AA, #B5815C;
  --rank-none: #E0E0E0, #F5F5F5, #D8D8D8, #B0B0B0;

  --gold-text: saddlebrown;
  --silver-text: #35363a;
  --bronze-text: #35363a;

  --hot-lava: #ff4500;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.distribution-skeleton {
  display: grid;
  grid-template-columns: 5fr 5fr;
}

.distribution-skeleton-graph {
  width: 18vw;
  height: 18vw;
  animation: pulse 1.5s ease-in-out infinite;
  border-radius: 10em;
}

.distribution-skeleton-legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  flex-direction: column;
}

.distribution-skeleton-legend {
  width: 15vw;
  height: 2em;
  animation: pulse 1.5s ease-in-out infinite;
  border-radius: 0.5em;

}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
