.dashboard-card#languageDistribution {
    grid-area: languageDistribution;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;
}

.language-distribution-container {
    width: 100%;
    position: relative;
    display: inline-block; /* Ensures the container doesn't collapse */
}

.language-distribution-container h2 {
    position: absolute;
    top: 54%; /* Adjust as needed */
    left: 41%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Centers the h2 within the container */
    z-index: 1; /* Ensures the h2 appears above */
    color: var(--text-primary);
    font-size: 7em;
    font-weight: bolder;
}

.lang-distribution-chart {
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.distribution-skeleton {
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.distribution-skeleton-graph {
    width: 18vw;
    height: 18vw;
    animation: pulse 1.5s ease-in-out infinite;
    border-radius: 10em;
}

.distribution-skeleton-legend-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    flex-direction: column;
}

.distribution-skeleton-legend {
    width: 15vw;
    height: 2em;
    animation: pulse 1.5s ease-in-out infinite;
    border-radius: 0.5em;

}