.dashboard-card#languageDistribution {
    grid-area: languageDistribution;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 1vh;
}

.lang-distribution-chart {
    width: 100%;
    height: 100%;
}

.language-distribution-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block; /* Ensures the container doesn't collapse */
}

.language-distribution-container h3 {
    align-self: flex-start;
    font-size: 3vh;
    padding: 0;
    margin: 0;
}

.language-distribution-container h2 {
    position: absolute;
    top: 58%; /* Adjust as needed */
    left: 41%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Centers the h2 within the container */
    z-index: 1; /* Ensures the h2 appears above */
    color: var(--text-primary);
    font-weight: bolder;
}

.lang-distribution-chart {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.lang-distribution-chart div.w-full.h-40 {
    height: 30vh;
}

text.fill-tremor-content-emphasis {
    fill: var(--text-primary);
    font-size: 10vh;
    transform: translateY(+2vh);
    font-weight: bold;
}
.pie-chart-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.css-1qfkekd-MuiResponsiveChart-container {
    width: 44vh !important;
    height: 44vh !important;
}

.lang-count {
    font-size: 15vh;
    font-weight: bold;
    color: var(--text-primary);
}

