.commit-quality-distribution-chart {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.commit-quality-distribution-chart div {
    height: 23vh !important;
}