.dashboard-card#codeSmellDistribution {
    grid-area: codeSmellDistribution;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.code-smell-distribution-container {
    width: 100%;
    position: relative;
    display: inline-block; /* Ensures the container doesn't collapse */
}

.code-smell-distribution-container h3 {
    margin-top: 1.8em;
    margin-bottom: 0;
}

.code-smell-distribution-container h2 {
    position: absolute;
    top: 54%; /* Adjust as needed */
    left: 41%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Centers the h2 within the container */
    z-index: 1; /* Ensures the h2 appears above */
    color: var(--text-primary);
    font-size: 7em;
    font-weight: bolder;
}

.code-smells-distribution-chart {
    height: 20em;
    width: 100%;
}