.dashboard-slide#slide4 {
    grid-template-areas:
        "mostActiveDev mostActiveDev developersSlides developersSlides commitGraph commitGraph"
        "mostActiveProj mostActiveProj developersSlides developersSlides commitGraph commitGraph"
        "mostActiveProj mostActiveProj developersSlides developersSlides commitGraph commitGraph"
        "mostStarredProj mostStarredProj mostForked mostForked commitGraph commitGraph"


        "footerCard footerCard footerCard footerCard footerCard footerCard";

    /* Define the width of columns */
    grid-template-columns: repeat(5, minmax(0, 1fr)); /* Adjust the number of columns and their width as needed */
}

#mostStarredProj {
    grid-area: mostStarredProj;
    padding: 0;
    width: 100%;
}

#mostForked {
    grid-area: mostForked;
    padding: 0;
    width: 100%;
}

#developers {
    grid-area: developersSlides;
    padding: 1vh;
}

#developers h4 {
    font-size: 3vh;
}

#developers h5 {
    font-size: 2.5vh;
}

#devImg {
    height: 17vh;
    transition: content 0.5s;
}