.dashboard-slide#slide4 {
    grid-template-areas:
        "mostActiveDev mostActiveDev commitGraph commitGraph commitGraph"
        "mostActiveProj mostActiveProj commitGraph commitGraph commitGraph"
        "mostStarredProj mostStarredProj mostForked mostForked developersSlides"
        "mostStarredProj mostStarredProj mostForked mostForked developersSlides"

        "footerCard footerCard footerCard footerCard footerCard";
}

#mostStarredProj {
    grid-area: mostStarredProj;
    padding: 0;
    width: 100%;
}

#mostForked {
    grid-area: mostForked;
    padding: 0;
    width: 100%;
}