@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  width: 100%;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

.recharts-layer:nth-child(1) > rect {
  fill: #555b6e !important;
}
.recharts-layer:nth-child(2) > rect {
  fill: #ee6c4d !important;
}
.recharts-layer:nth-child(3) > rect {
  fill: #bee3db !important;
}

.recharts-wrapper {
  pointer-events: none;
}
